################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Software Engineering PE/v16/TestStore/0/testlog.manifest
/.vs/Software Engineering PE/v16/TestStore/0/000-0000.testlog
/.vs/Software Engineering PE/v16/.suo
